#header {
	background-color: rgba(0, 220, 20, 0.8);
}

#header .logo h1 .kurs {
    font-size: 24px; 
    font-weight: 600; 
    font-style: italic;
} 

#header.header-scrolled {
  background-color: rgba(0, 220, 20, 0.9);
}

.nav-menu > ul > li {
  position: relative;
  float: left;
  margin-top: -10px;
  background: rgba(255, 255, 255, 0.2);
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  background: rgba(255,255,255, 0.6);
  color: #0999c1;
}

#sidebar {
  margin: 0;
  padding: 0;
  width: 220px;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  padding-top: 10px;
  background-color: #fff;
}

#sidebar a {
	color: #03c430;
	padding: 5px 0;
	padding-left: 7px;
	display: inline-block;
	font-size: 18px;
	font-style: italic;
}


@media (min-width: 768px) and (max-width: 1024px) {
  #sidebar {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  #sidebar {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  #sidebar {
    display: none;
  }
}


#content {
	margin-top: 80px;
	font-size: 18px;
	font-family: Verdana, "Times New Roman", sans-serif;
}

#content a {
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
}

#content a:last-child {
    float: right;
}

#content a button {
	padding: 10px;
}

#footer {
  background: #067f30;
  padding: 0 0 20px 0;
  color: #fff;
  font-size: 16px;
  align-items: center;
}